@import "../_global.scss";

/* --- [ Layout ] --- */

/* Apply a natural box layout model to all elements */
*, 
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 100%;
}

header, footer {
  text-align: center;
}

footer {
  border-top: 1px solid #ccc;
}

.play-container {
  margin-top: 50px;
  text-align: center;
}