@import "../_global.scss";

/* --- [ Typography ] --- */

body {
  color: $colorText;
  font: 400 16px/1.4 "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;;
  -webkit-font-smoothing: antialiased;
     -moz-font-smoothing: antialiased;
          font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  @include apply-to(max-width, 960px) {
    font-size: 14px;
  }
}

h1, .h1   { font-size: $fontSizeHuge; }
h2, .h2   { font-size: $fontSizeBigger; }
h3, .h3   { font-size: $fontSizeBig; }
h4, .h4   { font-size: $fontSizeDefault; }
h5, .h5   { font-size: $fontSizeSmall; }
h6, .h6   { font-size: $fontSizeSmaller; }

h1, .h1 {
  color: #B22222;
  font-weight: bold;
}

a {
  color: $colorLink;
  outline: none;
  text-decoration: none;
}

a:hover {
  color: $colorLinkHover;
}